.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404254;
  border-radius: 4px;
  border: none;
}

.search-container > button {
  border: none;
  background-color: #404254;
  color: white;
  height: 40px;
  border-radius: 0 4px 4px 0;
}

.search-input {
  border: none;
  color: white;
  padding: 0 10px;
  height: 40px;
  background-color: #404254;
  border-radius: 4px 0 0 4px;
}

.search-input:focus {
  outline: none;
}
